html, body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* note to self: there seems to be some subtle box shadow around the main container*/
.main-container{
  background-color: white;
  width: 266px;
  border-radius: 15px;
}

.image-and-body-container{
  width: 242px;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

@media (max-width: 800px){
  .main-container{
    width: 300px;
  }

  .image-and-body-container{
    width: 276px;
  }
}

.qr-code-image{
  width: 100%;
  border-radius: 10px;
}

.body-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-text-container > p:first-child{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.body-text-container > p:first-child > span{
  display: block;
  text-align: center;
}

.body-text-container > p:last-child{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: -5px;
}

.body-text-container > p:last-child > span{
  display: block;
}

.attribution { 
  font-size: 15px; 
  text-align: center; 
}  

.attribution > p > a { 
  color: hsl(228, 45%, 44%);
}

@media (max-width: 800px){
  .attribution > P > span{
    display: block;
  }
}